@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100%;
    min-height: 100vh;
    background: url('../images/john_wick_chapter_three_2019_4k_8k-wallpaper-1920x1080.jpg')  center no-repeat;
    background: rgb(131,58,180);
    background: linear-gradient(327deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7146171693735499) 50%, rgba(252,176,69,1) 100%);
}
